name: Deploy
on:
  push:
    branches:
      - main

jobs:
  {% if use_sqlalchemy and use_redis and include_test %}
  run_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run Postgres
        run: docker-compose --profile test up -d --no-deps --build db_test

      - name: Run tests
        run: docker-compose --profile test up --build run_test

      - name: Stop services
        run: docker-compose down
  {% endif %}
{% if use_semantic_release %}
{% if use_sqlalchemy and use_redis and include_test %}
    needs:
      - run_test
{% endif %}
  release:
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Python Semantic Release
        uses: python-semantic-release/python-semantic-release@v9.8.7
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
{% endif %}
  deploy:
{% if use_sqlalchemy and use_redis and include_test %}
    needs:
      - run_test
{% endif %}
    runs-on: ubuntu-latest
    steps:
      - name: Build and run bot
        uses: appleboy/ssh-action@v1.0.0
        env:
          BOT_TOKEN: {{ '${{ secrets.BOT_TOKEN }}' }}
          {% if use_redis %}REDIS_DSN: {{ '${{ secrets.REDIS_DSN }}' }}{% endif %}
          {% if use_sqlalchemy %}DB_DSN: {{ '${{ secrets.DB_DSN }}' }}{% endif %}
        with:
          host: {{ '${{ secrets.SSH_HOST }}' }}
          username: {{ '${{ secrets.SSH_USER }}' }}
          key: {{ '${{ secrets.SSH_KEY }}' }}
          envs: BOT_TOKEN, {% if use_redis %}REDIS_DSN{% endif %}, {% if use_sqlalchemy %}DB_DSN{% endif %}
          script: >
            cd /root/code/{{ project_name }}

            git pull

            docker build -t {{ project_name | lower }}-bot .

            if docker inspect {{ project_name | lower}} &>/dev/null; then
                docker stop {{ project_name | lower }} || true
                docker rm {{ project_name | lower }} || true
            fi

            {% if use_sqlalchemy %}
            if docker inspect {{ project_name | lower }}-migrations &>/dev/null; then
              docker stop {{ project_name | lower }}-migrations || true
              docker rm {{ project_name | lower }}-migrations || true
            fi

            if ! docker run --name {{ project_name | lower }}-migrations
              -e DB_DSN=${DB_DSN}
              {{ project_name }}
              alembic upgrade heads; then
              echo "Failed to run migrations"
              exit 1
            fi
            {% endif %}

            docker run --name {{ project_name | lower }}-bot -d
            -e BOT_TOKEN=${BOT_TOKEN}
            {% if use_redis %}-e REDIS_DSN=${REDIS_DSN}{% endif %}
            {% if use_sqlalchemy %}-e DB_DSN=${DB_DSN}{% endif %}
            --restart unless-stopped
            {{ project_name | lower }}-bot
            python bot/main.py