{% if use_redis %}
import redis.asyncio as redis
from aiogram.fsm.storage.redis import RedisStorage
{% else %}
from aiogram.fsm.storage.memory import MemoryStorage
{% endif %}
from aiogram import Bot, Dispatcher

from config import get_settings

settings = get_settings()
bot = Bot(token=settings.bot.TOKEN.get_secret_value())

{% if use_redis %}
redis_client = redis.Redis.from_url(settings.redis.DSN)
redis_storage = RedisStorage(redis_client)
dp = Dispatcher(storage=redis_storage)
{% else %}
dp = Dispatcher(storage=MemoryStorage())
{% endif %}

