## {{ project_name }}

{{ description }}

## Локальная разработка
Установить зависимости
```bash
poetry install --with DEV
 ```
{% if use_pre_commit %}
Установить git хуки
```bash
poetry run pre-commit install
poetry run pre-commit install --hook-type commit-msg
poetry run pre-commit install --hook-type pre-push
```
{% endif %}
{% if use_semantic_release %}
Создание коммитов и публикация изменений.

Для проекта используется семантическое версионирование.

Коммиты должны соответствовать шаблону tag: message

Перед публикацией необходимо указать персональный токен в переменных окружения
```bash
export GH_TOKEN=
```
Публикация изменений осуществляется с помощью команды:
```bash
semantic-release version
```
{% endif %}
## Run with docker
```bash
docker build -t {{ project_name }} .

docker run --name {{ project_name }} -d \
  -e BOT_TOKEN=<bot_token> \
  {% if use_redis %}-e REDIS_DSN=<redis://> \{% endif %}
  --restart unless-stopped
  {{ project_name }}
```