## {{ project_name }}

{{ description }}

## Локальная разработка
Установить зависимости
```bash
{% if package_manager == 'poetry' %}
poetry install --with DEV
{% elif package_manager == 'uv' %}
uv sync --dev
{% endif %}
 ```
{% if use_pre_commit %}
Установить git хуки
```bash
{{package_manager}} run pre-commit install
{{package_manager}} run pre-commit install --hook-type commit-msg
{{package_manager}} run pre-commit install --hook-type pre-push
```
{% endif %}
{% if use_semantic_release %}
Создание коммитов и публикация изменений.

Для проекта используется семантическое версионирование.

Коммиты должны соответствовать шаблону tag: message

{% endif %}
## Run with docker
```bash
docker build -t {{ project_name|lower }} .

docker run --name {{ project_name|lower }} -d \
  -e BOT_TOKEN=<bot_token> \
  {% if use_redis %}-e REDIS_DSN=<redis://> \{% endif %}
  --restart unless-stopped
  {{ project_name }}
```