## {{ project_name }}

{{ description }}

## Dev Environment

1. Установить зависимости
    ```bash
    poetry install --with DEV
    ```
2. Install Hooks
    ```bash
   pre-commit install
   pre-commit install --hook-type commit-msg
   pre-commit install --hook-type pre-push
    ```

## Run with docker
```bash
docker build -t {{ project_name }} .

docker run --name {{ project_name }} \
  -e BOT_TOKEN=<bot_token> \
  {% if use_redis %}-e REDIS_DSN=<redis://> \{% endif %}
  {{ project_name }}
```