default_language_version:
    python: python3.12

repos:
{% if use_ruff %}
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: main
    hooks:
      - id: ruff
        args:
          - --fix
          - --target-version=py312
      - id: ruff-format
{% endif %}
{% if use_commitizen %}
  - repo: https://github.com/commitizen-tools/commitizen
    rev: master
    hooks:
      - id: commitizen
        stages: [ commit-msg ]
{% endif %}